<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYU DSC Datathon 2024</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/homepage.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../components/navbar/navbar.js"></script>
    <script src="../scripts.js"></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <h2>Challenges</h2>
        <div class="space">
            <a href="" class="dataset">CLICK HERE TO SUBMIT - OPENS AT 9:30AM ON SATURDAY</a>
            </div>
        <section>
            <div class="cbre c1">
                <h3>Challenge #1: Geospatial Analysis for Shaping Public Policy (Easy)</h3>
                <p>
                    Attention all problem-solvers and data enthusiasts! We're thrilled to announce our latest challenge, focused on harnessing the power of geospatial analysis to shape public policy and address pressing issues surrounding rising sea levels. As our cities face the looming threat of flooding, it's imperative that we come together to find innovative solutions to protect our communities, especially those most vulnerable.
                </p>
                <p>
                    In this challenge, participants will dive into a wealth of data sources, including census data, National Risk Index data. Your mission? To import, harmonize, and analyze this data using tools like Python, ARCGis, or QGis, identifying lower-income neighborhoods at higher risk of flooding and proposing actionable solutions and places to move them for stakeholders.
                </p>
                <p>
                    We're not just looking for technical prowess; we're seeking solutions with real-world impact. That's why our judging criteria emphasize business efficacy, accuracy, scalability, and storytelling. How will your solution help stakeholders? Can it adapt to changing conditions? And perhaps most importantly, how effectively can you communicate the effectiveness and actionability of your model?
                </p>
            </div>
            <!-- <div class="space">
                <a href="https://www.dropbox.com/scl/fo/68cpqzt4jh9twkqs4xyfc/ABjgWFhnrqWNSZO5C1jp7K0?rlkey=bgfsiq5mxs7s196f6e9r7n44p&st=hxku423u&dl=0" class="dataset">CLICK HERE TO VIEW THE EASY DATASET + MORE DETAILS</a>
                </div> -->
            <div class="space">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb2xs" class="dataset">CLICK HERE TO VIEW THE EASY DATASET + MORE DETAILS</a>
                </div>
            <br><br>
            <div class="us c1">
                <h3>Challenge #2: Using CNNs to Create Supply Models (Hard)</h3>
                <p>
                    We're tasking you with revolutionizing our understanding of warehouse construction timelines across multiple markets, with a focus on predicting completions in Atlanta, Georgia, over the next four quarters. To accomplish this, you'll need to acquire satellite imagery of warehouses in various markets and label them accordingly, all while developing a robust model for forecasting completion times.
                </p>
                <p>
                    Your mission begins with acquiring satellite imagery of warehouses in multiple markets and meticulously labeling them to train your model effectively. Once you've gathered your data, your goal is to predict the number of warehouses that will be completed in Atlanta over the next four quarters. This involves leveraging cutting-edge techniques like CNN classifiers and tools to analyze the imagery and extract valuable insights into construction progress.            
                </p>
                <p>
                    Our judging criteria will evaluate your solution's business efficacy, accuracy, predictability, and storytelling. How well does your model empower stakeholders to make informed decisions? Can it accurately predict completion timelines in Atlanta? And can you effectively communicate the actionable insights derived from your analysis?                    
                </p>
            </div>
            <!-- <div class="space">
            <a href="https://www.dropbox.com/scl/fo/bi92rwexrbyp10lzvopfr/APRLIN6Ea04p2JLP3fpOjtE?rlkey=ibhhog10zo9qalpahxsfwws9q&st=y6f8ui36&dl=0" class="dataset">CLICK HERE TO VIEW THE HARD DATASET + MORE DETAILS</a>
            </div> -->
            <div class="space">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUjcmljayBhc3RsZXkgbmV2ZXIgZ29ubmEgZ2l2ZSB5b3UgdXA%3D" class="dataset">CLICK HERE TO VIEW THE HARD DATASET + MORE DETAILS</a>
                </div>
        </section>
        <br><br>
    </main>
    <footer>
        <p>&copy; 2024 NYU Data Science Club. Website built by Ritti Bhogal, Anya Kondamani, and Kathy Tran.</p>
    </footer>
</body>
</html>