<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYU DSC Datathon 2024</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/mainfaq.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../components/navbar/navbar.js"></script>
    <script src="../scripts.js"></script>
</head>
<div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section>
            <h2>Frequently Asked Questions</h2>
            <div class="faq">
                <button class="question" onclick="toggleAnswer('answer1')">What's a Datathon?<span class="plus">+</span></button>
                <div id="answer1" class="answer">Similar to hackathons, a datathon is an event where participants gather to solve practical problems through the application of data science tools and techniques, 
                  by working together in teams to generate insights and potential solutions.</div>
                
                <button class="question" onclick="toggleAnswer('answer2')">Who can participate?<span class="plus">+</span></button>
                <div id="answer2" class="answer">Absolutely anyone can participate regardless of skill level!</div>
                
                <button class="question" onclick="toggleAnswer('answer3')">When's the Datathon? Should I stay the entire time?<span class="plus">+</span></button>
                <div id="answer3" class="answer">The datathon will begin 5:30 PM April 19th and end 10:30 PM April 20th. 
                  You are NOT at all required to be coding for the entire duration - in fact we HIGHLY recomend getting some rest before recording your presentations! 
                  Sometimes a good night of sleep will help to get the gears turning after a rough first day.</div>
                
                <button class="question" onclick="toggleAnswer('answer4')">Where is the Datathon?<span class="plus">+</span></button>
                <div id="answer4" class="answer">The main event will take place in 31 Washington Place with access to other classrooms in the building to work with your team in different spaces (i.e. quiet areas, collaborative spaces). 
                  However, feel free to leave at any point to eat, sleep, or work in a different location. 
                  To learn more about which rooms are available when, please see our schedule above, or refer to the resources section of the website!</div>
                
                <button class="question" onclick="toggleAnswer('answer5')">q5<span class="plus">+</span></button>
                <div id="answer5" class="answer">a5</div>
            
                <button class="question" onclick="toggleAnswer('answer6')">q6<span class="plus">+</span></button>
                <div id="answer6" class="answer">a6</div>
                <div class = "next">
                    <h2>Have more questions?</h2>
                    <h3>Feel free to contact us on instagram <a href="https://www.instagram.com/dscnyu/">@dscnyu</a> or via <a href="https://datascienceclubnyu.slack.com/join/shared_invite/zt-mgqrd0ok-8gDn_28fOQWFLrnHIujS_Q#/shared-invite/email">Slack</a></h3>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 NYU Data Science Club</p>
    </footer>
    <script>
        function toggleAnswer(id) {
          var answer = document.getElementById(id);
          if (answer.style.display === "block") {
            answer.style.display = "none";
          } else {
            answer.style.display = "block";
          }
        }
      </script>
</body>
</html>