<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYU DSC Datathon 2024</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/mainfaq.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../components/navbar/navbar.js"></script>
    <script src="../scripts.js"></script>
</head>
<div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section>
            <h2>Frequently Asked Questions</h2>
            <h3>We will be updating these throughout the datathon. If you have other questions, please let us know!</h3>
            <div class="faq">
                <button class="question" onclick="toggleAnswer('answer1')">What's a Datathon?<span class="plus">+</span></button>
                <div id="answer1" class="answer">Similar to hackathons, a datathon is an event where participants gather to solve practical problems through the application of data science tools and techniques, 
                  by working together in teams to generate insights and potential solutions.</div>
                
                <button class="question" onclick="toggleAnswer('answer2')">Who can participate?<span class="plus">+</span></button>
                <div id="answer2" class="answer">Absolutely anyone can participate regardless of skill level!</div>
                
                <button class="question" onclick="toggleAnswer('answer3')">When's the Datathon? Should I stay the entire time?<span class="plus">+</span></button>
                <div id="answer3" class="answer">The datathon will begin 5:00 PM April 19th and end 10:30 PM April 20th. However, submission will be open until Sunday April 21 at noon.
                  You are NOT at all required to be coding for the entire duration - in fact we HIGHLY recomend getting some rest before recording your presentations! 
                  Sometimes a good night of sleep will help to get the gears turning after a rough first day.</div>
                
                <button class="question" onclick="toggleAnswer('answer4')">Where is the Datathon?<span class="plus">+</span></button>
                <div id="answer4" class="answer">The main event will take place in Silver room 405 on Friday. On Saturday, you will have access to other classrooms in Bobst (LL141, LL138 and LL150) 
                  to work with your team in different spaces. However, feel free to leave at any point to eat, sleep, or work in a different location. 
                  To learn more about where things are happening, please see our schedule or visit slack for announcements!</div>

                  <button class="question" onclick="toggleAnswer('answer6')">I missed some stuff during the kickoff. Where can I view that info?<span class="plus">+</span></button>
                  <div id="answer6" class="answer">All kickoff information is available <a href="https://www.canva.com/design/DAGC4Y_yiOU/7Vpo3UGk2nvy91rF_um2SA/edit?utm_content=DAGC4Y_yiOU&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">here</a>.
                  </div>

                <button class="question" onclick="toggleAnswer('answer4.5')">Which challenge do I choose?<span class="plus">+</span></button>
                <div id="answer4.5" class="answer">There's two challenges: an easy challenge and a hard challenge. We recommend the easy challenge for those who are new to data science and python, are familiar with basic 
                  data science libraries (i.e. numpy, pandas, matplotlib, etc), or have taken a data science class or two here. The hard challenge is for those with experience in deep learning and machine learning, comfortable working with non-tabular data, 
                  or perhaps someone who's new to this stuff and wants to take a deep dive into training CNNs! We also recommend sticking to your choice - time flies faster than you think!
                </div>
                
                <button class="question" onclick="toggleAnswer('answer5')">I'm getting stuck... what do I do?<span class="plus">+</span></button>
                <div id="answer5" class="answer">We have several resources available for you on the resources tab of this website! This includes jupyter notebooks from the workshops leading up to the datathon and scheduled office hours with grad student tutors. 
                  There is also a data scientist from CBRE, Franz, hosting office hours throughout the event to help you with any difficulties you face while tackling the challenge you choose!</div>

                <button class="question" onclick="toggleAnswer('answer7')">Where/how do I submit?<span class="plus">+</span></button>
                <div id="answer7" class="answer">A google form to submit will be made available on Saturday at 9:30AM. Detailed submission info can be found in the <a href="https://www.canva.com/design/DAGC4Y_yiOU/7Vpo3UGk2nvy91rF_um2SA/edit?utm_content=DAGC4Y_yiOU&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">kickoff slides</a>.</div>
            
                <!-- <button class="question" onclick="toggleAnswer('answer6')">q6<span class="plus">+</span></button>
                <div id="answer6" class="answer">a6</div> -->
                <div class = "next">
                    <h2>Have more questions?</h2>
                    <h3>Feel free to contact us on instagram <a href="https://www.instagram.com/dscnyu/">@dscnyu</a> or via <a href="https://datascienceclubnyu.slack.com/join/shared_invite/zt-mgqrd0ok-8gDn_28fOQWFLrnHIujS_Q#/shared-invite/email">Slack</a></h3>
                </div>
            </div>
        </section>
        <br><br>
    </main>
    <footer>
      <p>&copy; 2024 NYU Data Science Club. Website built by Ritti Bhogal, Anya Kondamani, and Kathy Tran.</p>
  </footer>
    <script>
        function toggleAnswer(id) {
          var answer = document.getElementById(id);
          if (answer.style.display === "block") {
            answer.style.display = "none";
          } else {
            answer.style.display = "block";
          }
        }
      </script>
</body>
</html>