<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYU DSC Datathon 2024</title>
    <link rel="stylesheet" href="../styles/schedule.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../components/navbar/navbar.js"></script>
    <script src="../scripts.js"></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section>
            <h2>Schedule</h2>
            <!-- Content here -->
            <div class="schedule">
                <h1>Datathon Schedule</h1>
                <table>
                  <tr>
                    <th>Time</th>
                    <th>April 19</th>
                    <th>April 20</th>
                  </tr>
                  <tr>
                    <td>9:00 am</td>
                    <td>Start of day 1</td>
                    <td>Start of day 2</td>
                  </tr>
                  <tr>
                    <td>9:30 am</td>
                    <td>Peak Presentation/Release of dataset</td>
                    <td>Team Spirit Challenege</td>
                  </tr>
                  <tr>
                    <td>10:00 am</td>
                    <td>Team Spirit Challenege</td>
                    <td>Team Spirit Challenege</td>
                  </tr>
                  <tr>
                    <td>11:00 am</td>
                    <td>PEAK office hours</td>
                    <td>Storytelling with data</td>
                  </tr>
                  <tr>
                    <td>12:00 pm</td>
                    <td>Spriha Jha office hours</td>
                    <td>Brunch</td>
                  </tr>
                  <tr>
                    <td>12:15 pm</td>
                    <td>Lunch</td>
                    <td>Team Spirit Challenege</td>
                  </tr>
                  <tr>
                    <td>1:00 pm</td>
                    <td>Team spirit challenge</td>
                    <td>Browser Games</td>
                  </tr>
                  <tr>
                    <td>2:00 pm</td>
                    <td>Trivia Battle</td>
                    <td>Grad student office hours</td>
                  </tr>
                  <tr>
                    <td>3:00 pm</td>
                    <td>Team spirit challenge</td>
                    <td>Team Spirit Challenege</td>
                  </tr>
                  <tr>
                    <td>4:00 pm</td>
                    <td>Team spirit challenge</td>
                    <td>Team Spirit Challenege</td>
                  </tr>
                  <tr>
                    <td>6:15 pm</td>
                    <td>Dinner</td>
                    <td>Snacks</td>
                  </tr>
                  <tr>
                    <td>7:00 pm</td>
                    <td>Team Spirit Challenge</td>
                    <td>Submission Period Closes</td>
                  </tr>
                  <tr>
                    <td>8:00 pm</td>
                    <td>Water Pong Tournament</td>
                    <td>Team Spirit Challenege</td>
                  </tr>
                  <tr>
                    <td>9:00 pm</td>
                    <td>End of day 1</td>
                    <td>End of day 2</td>
                  </tr>
                </table>
              </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 NYU Data Science Club</p>
    </footer>
</body>
</html>