<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYU DSC Datathon 2024</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/schedule.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../components/navbar/navbar.js"></script>
    <script src="../scripts.js"></script>
</head>
<body>
    <div id="navbar-container"><!-- Navigation bar will be loaded here --></div>
    <main>
        <section>
            <!-- Content here -->
            <div class="schedule">
                <h1>Datathon Schedule</h1>
                <table>
                  <tr>
                    <th>Time</th>
                    <th>Friday, April 19</th>
                    <th>Saturday, April 20</th>
                  </tr>
                  <tr>
                    <td>9:00 am</td>
                    <td></td>
                    <td class="event">Start of day 2</td>
                  </tr>
                  <tr>
                    <td>9:15 am</td>
                    <td></td>
                    <td class="event">Team Spirit 3: Stretch your Body 
                      (and Brain) - Group Photo Doing Yoga 
                      Pose</td>
                  </tr>
                  <tr>
                    <td>9:30 am</td>
                    <td></td>
                    <td class="event">Open Submission Period</td>
                  </tr>
                  <tr>
                    <td>10:30 am</td>
                    <td></td>
                    <td class="event">Team Spirit 4: Scavenger: Fresh air 
                      (walking challenge: give a clue and find 
                      and take a photo of that building on 
                      campus) </td>
                  </tr>
                  <tr>
                    <td>12:00 pm</td>
                    <td></td>
                    <td class="event">Brunch</td>
                  </tr>
                  <tr>
                    <td>1:30pm</td>
                    <td></td>
                    <td class="event">Event: Flip Water Cup</td>
                  </tr>
                  <tr>
                    <td>4:00 pm</td>
                    <td></td>
                    <td class="event">Team Spirit 5: Get in Touch with 
                      Nature -- Washington Square Park 
                      To Touch Grass</td>
                  </tr>
                  <tr>
                    <td>5:00 pm</td>
                    <td class="event">Start of Day 1/Kick Off, 
                      Introduction to CBRE + 
                      Judging Criteria</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>5:30 pm</td>
                    <td class="event">Release of Problem Statement 
                      + Dataset + Send them Off to Work</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>6:00 pm</td>
                    <td class="event">Team Spirit 1: Come up with 
                      Team Names + Team Slogan </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>6:30 pm</td>
                    <td></td>
                    <td class="event">Dinner</td>
                  </tr>
                  <tr>
                    <td>7:00 pm</td>
                    <td class="event">Dinner</td>
                    <td class="event">Event: Emoji Guess Word/Movie game
                      + Skribbl.io</td>
                  </tr>
                  <tr>
                    <td>7:15 pm</td>
                    <td class="event"> Team Spirit 2: Food is Fuel</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>8:00 pm</td>
                    <td class="event">Working stage begins</td>
                    <td class="event">Team Spirit 5: Data Science Meme</td>
                  </tr>
                  <tr>
                    <td>8:30 pm</td>
                    <td class="event">Water Pong Tournament</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>9:30 pm</td>
                    <td></td>
                    <td class="event">Submission Period Closes</td>
                  </tr>
                  <tr>
                    <td>10:00 pm</td>
                    <td class="event">End of day 1</td>
                    <td class="event">End of day 2</td>
                  </tr>
                </table>
              </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 NYU Data Science Club</p>
    </footer>
</body>
</html>