/* This is styling that will exist across all pages*/

main {
    background-image: url('../assets/background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

:root {
    --cbre-green: #003e2e;
    --cbre-light-green: #01ae83;
    --nyu-violet: #57068C;
    --nyu-black: #000000;
    --nyu-white: #FFFFFF;
}

body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: var(--cbre-green);
    color: var(--nyu-white);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: var(--nyu-white);
    text-decoration: none;
}

p a {
    color: var(--nyu-white);
    ::selection {
        color: var(--nyu-violet);
      }
}

main {
    padding: 20px;
    text-align: center;
    section div p {
        text-align: center;
    }
}

.logo {
    display: inline-block;
}
